#drum-machine {
  background-color: #eea29a;
  width: 98vw;
  display: grid;
  grid-template-areas: 'button1 button2 button3 display display display' 'button4 button5 button6 button7 button8 button9';
  grid-gap: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 800px;
  margin: auto;
  height: 99vh;
  max-height: 300px; }
  #drum-machine .drum-pad {
    background-color: #b1cbbb;
    box-shadow: 4px 3px 9px 0px; }
  #drum-machine #Bell {
    grid-area: button1; }
  #drum-machine #Sneeze {
    grid-area: button2; }
  #drum-machine #Chime {
    grid-area: button3; }
  #drum-machine #Honk {
    grid-area: button4; }
  #drum-machine #Horn {
    grid-area: button5; }
  #drum-machine #Fart {
    grid-area: button6; }
  #drum-machine #Clonk {
    grid-area: button7; }
  #drum-machine #Smack {
    grid-area: button8; }
  #drum-machine #Slide {
    grid-area: button9; }
  #drum-machine #display {
    grid-area: display;
    text-align: center;
    font-weight: bolder;
    font-size: 2em;
    position: relative;
    top: 50%;
    transform: translateY(-60%); }
